body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d1d1d;
    color: white;
    padding: 20px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    margin-top: 30px;
}
